@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


@layer base {
  html,
  body {
    @apply m-0 h-full bg-black text-neutral-800;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    font-family: "Poppins", sans-serif, Arial;
  }

  body {
    @apply overflow-x-hidden overflow-y-scroll;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-light {
    font-weight: 300;
  }

  .font-regular {
    font-weight: 400;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .font-bold {
    font-weight: 700;
  }
}

/* Custom Scrollbar Styles */
/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #000001, #7c3aed);
  border-radius: 4px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #000000, #6d28d9);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a transparent;
}



html {
  scroll-behavior: smooth;
}
